<ion-header mode="ios">
    <ion-toolbar mode="ios" >
      <ion-title *ngFor="let item of userdata" color="primary">{{item.payload.doc.data().name}}</ion-title>
      <ion-buttons slot="start">
          <ion-button [routerLink]="['/']"  >
            <ion-icon mode="ios" color="primary" slot="icon-only" name="arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>

      <ion-buttons *ngIf="uid !== useruid" slot="end">
          <ion-button (click)="presentAlertConfirm()" >
            <ion-icon mode="ios" color="secondary" slot="icon-only" name="alert"></ion-icon>
         </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content  *ngFor="let item of userdata">
      <div class="form" >
      <div *ngIf="item.payload.doc.data().img !== 'assets/user.svg'" text-center>
        <img text-center style=" width: 100%;height: 450px;object-fit: cover;" [src]="item.payload.doc.data().img" alt="">
      </div>

  
   
  

  <h2 class="goodfont" style="font-size:38px;" padding> {{item.payload.doc.data().name}}</h2>
        
            <ion-item >
                <ion-avatar slot="start">
                  <ion-icon color="secondary" name="pin" size="large"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h1 class="cut" color="var(--ion-color-medium)">{{item.payload.doc.data().adress}}</h1>
                  
                </ion-label>
                <ion-button size="large" slot="end">
  
                 <div *ngIf="item.payload.doc.data().mode != 'driver'">
                   Rider 🚶
                 </div>
                 <div *ngIf="item.payload.doc.data().mode == 'driver'">
                    Driver 🚗 
                  </div>
                  </ion-button>
              </ion-item>
          
          
        
          </div>

          
         
          <div >
          <h2 class="goodfont" style="font-size:38px;" padding>Info</h2>
          <ion-row>
            <ion-col size="6">
                <ion-card mode="ios" color="primary" >
                    <ion-card-header>
                        <ion-card-title style="color:var(--ion-color-light)" class="goodfont">Rides</ion-card-title>
                        <ion-card-subtitle style="font-size:40px;color:var(--ion-color-light)!important" class="goodfont">{{ bs.viewuserrides.length }}</ion-card-subtitle>
                        
                      </ion-card-header>
                    
                </ion-card>
            </ion-col>
        
            <ion-col size="6">
                <ion-card mode="ios"  color="secondary" >
                    <ion-card-header>
                        <ion-card-title style="color:var(--ion-color-medium)" class="goodfont">Stars</ion-card-title>
                        <ion-card-subtitle style="font-size:40px;color:var(--ion-color-tertiary)!important" class="goodfont">
                          <ion-icon size="small" color="warning" name="star"></ion-icon>
                          <ion-icon size="small" color="warning" name="star"></ion-icon>
                          <ion-icon size="small" color="warning" name="star"></ion-icon>
                          <ion-icon size="small" color="warning" name="star"></ion-icon>
                          <ion-icon size="small" color="warning" name="star"></ion-icon>
  
                        </ion-card-subtitle>
                        
                      </ion-card-header>
                    
                </ion-card>
            </ion-col>
            <ion-col size="6">
                
            </ion-col>
          </ion-row>
  
          </div>
          <br> 
          <div text-center *ngIf="item.payload.doc.data().mode == 'driver'" >
              <img height="150px"  src='/assets/{{item.payload.doc.data().car}}.png'>
          </div>
          
        
          <br>
          <div >
          <h2 class="goodfont" style="font-size:38px;" padding>Rides</h2>
          <br>
          <div padding *ngIf="bs.viewuserrides.length === 0" text-center>
            <img width="400px" src="assets/map.svg">
            <h3 color="secondary" text-center class="goodfont">You don't have any ride <a [routerLink]="['/create']">create one</a></h3>

          </div>
          <br>
        <br>
        </div>

        <div *ngFor="let item of bs.viewuserrides">
          <ion-card (click)="gotoride(item.id)"   mode="ios" *ngIf="item.start !== null" >
              <ion-card-content style="height: 110px;border-radius: 100px !important">
                  <ion-row class="carta">
                      <ion-col class="cut" size="5">
                          {{ item.start }}
                      </ion-col>
                      <ion-col size="2">
                          <ion-icon style=" font-size: 25px;color: #3B455A" name="arrow-forward">
                          </ion-icon>
                      </ion-col>
                      <ion-col class="cut" size="5">
                          {{ item.destine }}
                      </ion-col>
      
                  </ion-row>
      
                  <ion-row class="cartadesc">
                      <ion-col size="5">
                          {{ item.hour }} Hour
                      </ion-col>
                      <ion-col size="2">
      
                      </ion-col>
                      <ion-col style="font-size: 12px;text-align: center" size="3">
                          {{ item.seats }} <br> Seats
                      </ion-col>
                      <ion-col size="2">
                          <br>
                          <ion-icon *ngIf="item.car === 'none'" style="font-size: 45px;color: #3B455A;" src='assets/rider.svg'></ion-icon>
         
                          <img  *ngIf="item.car!== 'none'" style="font-size: 45px;color: #3B455A;" src='assets/{{ item.car}}.png'>
                        </ion-col>
      
                  </ion-row>
              </ion-card-content>
          </ion-card>
      </div>
          <br>
          <br>
          <br>
          <p style="color: gray; font-size: 13px" text-center bold>User id : {{ useruid }} </p>
  
          <br>
          <br>

          
  </ion-content>

  <ion-fab *ngIf="uid !== useruid" (click)="chatservice.checkchatexistence(uid , useruid)" vertical="bottom" horizontal="end" >
      <ion-fab-button >
        <ion-icon mode="ios" name="chatbubbles"></ion-icon>
      </ion-fab-button>
    </ion-fab>
