.titulo {
    text-align: center;
    color: #3B455A;
    margin-top: -15px;
    font-size: 27px;
    font-weight: bold;
}


.myselect {
    max-width: 60% !important;
}

.carta {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #E45454;
}

.cartadesc {
    margin-top: -15px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #3B455A;
}

.cartaicon {
    margin-bottom: 0px!important;
}

.noprofile {
    text-align: center;
}

.notrayect {
    height: 200px;
    margin-top: -30px;
}

.notrayecto {
    margin-top: -20px;
    color: #E45454;
}

.noprofile h3 {
    text-align: center;
    color: #3B455A;
}

.truncar {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.map {
    width: 100%;
    height: 100%;
}
