<ion-card  mode="ios">
    <!-- *ngIf="item.start !== null"> -->
    <ion-card-content style="height: 110px;border-radius: 100px !important">
        <ion-row class="carta">
            <ion-col class="cut" size="5">
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> <br>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2">
                <ion-icon style=" font-size: 25px;color: #3B455A" name="arrow-forward">
                </ion-icon>
            </ion-col>
            <ion-col class="cut" size="5">
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> <br>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </ion-col>

        </ion-row>

        <ion-row class="cartadesc">
            <ion-col size="5">
                <ion-skeleton-text animated style="width: 15%"></ion-skeleton-text> <br>
               
            </ion-col>
            <ion-col size="2">
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                <br>      
        
            </ion-col>
            <ion-col style="font-size: 12px;text-align: center" size="3">
                 <br> 
            </ion-col>
            <ion-col size="2">
                <br>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-col>

        </ion-row>
    </ion-card-content>
</ion-card>

<ion-card  mode="ios">
    <!-- *ngIf="item.start !== null"> -->
    <ion-card-content style="height: 110px;border-radius: 100px !important">
        <ion-row class="carta">
            <ion-col class="cut" size="5">
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> <br>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2">
                <ion-icon style=" font-size: 25px;color: #3B455A" name="arrow-forward">
                </ion-icon>
            </ion-col>
            <ion-col class="cut" size="5">
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> <br>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </ion-col>

        </ion-row>

        <ion-row class="cartadesc">
            <ion-col size="5">
                <ion-skeleton-text animated style="width: 15%"></ion-skeleton-text> <br>
               
            </ion-col>
            <ion-col size="2">
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                <br>      
        
            </ion-col>
            <ion-col style="font-size: 12px;text-align: center" size="3">
                 <br> 
            </ion-col>
            <ion-col size="2">
                <br>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-col>

        </ion-row>
    </ion-card-content>
</ion-card>