<ion-header>
  <ion-toolbar >
      <ion-buttons  slot="start">
          <ion-button [routerLink]="['/']"  >
            <ion-icon mode="ios" color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>
    <ion-title color="primary" class="goodfont">Your account</ion-title>

    <ion-buttons slot="end" >
      <ion-button [routerLink]="['/edit-profile']" >
        <ion-icon color="primary" slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item?.length>0">
    <div class="form">
        <div *ngIf="empty">
          <div text-center >
            <img text-center style=" width: 100%;height: 450px;object-fit: cover;" src="{{item[0].payload.doc.data().img}}" alt="">
          </div>
      
      
          <h2 class="goodfont" style="font-size:38px;" padding> {{item[0].payload.doc.data().name}}</h2>
      
          <ion-item >
              <ion-avatar slot="start">
                <ion-icon  name="pin" size="large"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h1 [routerLink]="['/location']" >{{item[0].payload.doc.data().adress}}</h1>
                
              </ion-label>
                <ion-button [routerLink]="['/fill']"   size="large" slot="end">
  
                    <div *ngIf="item[0].payload.doc.data().mode != 'driver'">
                      Rider 🚶
                    </div>
                    <div *ngIf="item[0].payload.doc.data().mode == 'driver'">
                       Driver 🚗 
                     </div>
                     </ion-button>
            </ion-item>
        
        
      
        </div>
      
        <div text-center *ngIf="!empty">
      
          <ion-grid>
            <ion-row>
              <ion-col size="12" text-center>
                <img width="200px" style="margin-top:32px;" src="assets/user.svg" alt="">
              </ion-col>
              <ion-col size="12" text-center>
                <h3>Your profile is empty , fill it to continue</h3>
              </ion-col>
              <ion-col size="12" text-center>
                <ion-button [routerLink]="['/edit-user']"  >Fill it</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
      
        </div>
        </div>
        
       
        <div *ngIf="empty">
        <h2 class="goodfont" style="font-size:38px;" padding>Your info</h2>
        <ion-row>
          <ion-col size="6">
              <ion-card  color="primary" >
                  <ion-card-header>
                      <ion-card-title style="color:var(--ion-color-light)" class="goodfont">Rides</ion-card-title>
                      <ion-card-subtitle style="font-size:40px;color:var(--ion-color-light)!important" class="goodfont">{{ rides.length }}</ion-card-subtitle>
                      
                    </ion-card-header>
                  
              </ion-card>
          </ion-col>
      
          <ion-col size="6">
              <ion-card  color="secondary" >
                  <ion-card-header>
                      <ion-card-title style="color:var(--ion-color-medium)" class="goodfont">Stars</ion-card-title>
                      <ion-card-subtitle style="font-size:40px;color:var(--ion-color-tertiary)!important" class="goodfont">
                        <div >
                        <ion-icon  size="small" color="warning" name="star"></ion-icon>
                        <ion-icon  size="small" color="warning" name="star"></ion-icon>
                        <ion-icon  size="small" color="warning" name="star"></ion-icon>
                        <ion-icon  size="small" color="warning" name="star"></ion-icon>
                        <ion-icon  size="small" color="warning" name="star"></ion-icon>
                        
                        </div>
  

                      </ion-card-subtitle>
                      
                    </ion-card-header>
                  
              </ion-card>
          </ion-col>
          <ion-col size="6">
              
          </ion-col>
        </ion-row>

        </div>
        <br> 
        <div padding text-center *ngIf="item[0].payload.doc.data().mode == 'driver'" >
            <img height="150px"  src='/assets/{{item[0].payload.doc.data().car}}.png'>
            <ion-button color="secondary" mode="ios"  class="form goodfont" text-center [routerLink]="['/fill']" 
            fill="outline" size="large" expand="block" >
              Change car
            </ion-button>
        </div>

        <div  padding text-center *ngIf="item[0].payload.doc.data().mode !== 'driver'" >
           
            <ion-button color="secondary"  mode="ios" class="form goodfont" text-center [routerLink]="['/fill']" 
            fill="outline" size="large" expand="block" >
              Change to driver
            </ion-button>
        </div>
        
      
        <br>
        <div *ngIf="empty">
        <h2 class="goodfont" style="font-size:38px;" padding>Rides</h2>
        <br>
          <div padding *ngIf="rides.length === 0" text-center>
            <img width="400px" src="assets/map.svg">
            <h3 color="secondary" text-center class="goodfont">You don't have any ride <a [routerLink]="['/create']">create one</a></h3>

          </div>
          <br>
        <br>
        </div>

        <div *ngFor="let item of rides">
          <ion-card (click)="gotoride(item[0].payload.doc.data().id)"   mode="ios" *ngIf="item[0].payload.doc.data().inicio !== null" >
              <ion-card-content style="height: 110px;border-radius: 100px !important">
                  <ion-row class="carta">
                      <ion-col class="cut" size="5">
                          {{ item[0].payload.doc.data().start }}
                      </ion-col>
                      <ion-col size="2">
                          <ion-icon style=" font-size: 25px;color: #3B455A" name="arrow-forward">
                          </ion-icon>
                      </ion-col>
                      <ion-col class="cut" size="5">
                          {{ item[0].payload.doc.data().destine }}
                      </ion-col>
      
                  </ion-row>
      
                  <ion-row class="cartadesc">
                      <ion-col size="5">
                          {{ item[0].payload.doc.data().hour }} Hour
                      </ion-col>
                      <ion-col size="2">
      
                      </ion-col>
                      <ion-col style="font-size: 12px;text-align: center" size="3">
                          {{ item[0].payload.doc.data().seats }} <br> Seats
                      </ion-col>
                      <ion-col size="2">
                          <br>
                          <ion-icon *ngIf="item[0].payload.doc.data().car === 'none'" style="font-size: 45px;color: #3B455A;" src='assets/rider.svg'></ion-icon>
         
                          <img  *ngIf="item[0].payload.doc.data().car !== 'none'" style="font-size: 45px;color: #3B455A;" src='assets/{{ item[0].payload.doc.data().car}}.png'>
                         </ion-col>
      
                  </ion-row>
              </ion-card-content>
          </ion-card>
      </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p style="color: gray; font-size: 13px" text-center bold>User id : {{ uid }} </p>

        <br>
        <br>


</ion-content>