

.circle{
    padding: 5px;
    width: 150px;
    margin-top: 25px;
    height: 150px;
    border-radius: 100%;
    background: white;
    border: 2px solid white;
}

h3 {
    color: var(--ion-color-primary);
}

h5 {
    color: var(--ion-color-primary);

}
ion-icon {
    font-size: 30px;
}

