<ion-header >
  <ion-toolbar >
    <ion-title>Ride info</ion-title>
    <ion-buttons  slot="start">
        <ion-button [routerLink]="['/']"  >
          <ion-icon mode="ios" color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
   
   <div  margin-bottom #map class="map" id="map3" style="position: relative"></div>


    <div padding>
    <h2 class="goodfont"><strong>Ride to  :</strong> {{ride[0].payload.doc.data().start}} </h2>
    <br>
        <ion-item>
            <ion-label>
                <strong class="goodfont">Hour :  </strong> {{ride[0].payload.doc.data().hour }}
               </ion-label>
               <ion-chip *ngIf="ride[0].payload.doc.data().rutine === true" color="dark">
                   <ion-icon color="primary" name="refresh-circle"></ion-icon>
                   <ion-label color="primary">Rutine</ion-label>
                  
               </ion-chip>
       
               <ion-chip *ngIf="ride[0].payload.doc.data().rutine === false" color="dark">
                   <ion-icon color="primary" name="calendar"></ion-icon>
                   <ion-label color="primary">One time ride </ion-label>
                  
               </ion-chip>
    
                <ion-button *ngIf="ride[0].payload.doc.data().uid !== uid" (click)="chatservice.checkchatexistence(uid , ride[0].payload.doc.data().uid)" slot="end" color="secondary" size="large" slot="end">
                  <ion-icon mode="ios" name="chatbubbles" size="large"></ion-icon>
                  Chat
                </ion-button>

        </ion-item>

    <br>
    <br>

    <ion-card *ngIf="item?.length>0" (click)="gotoprofile(item[0].payload.doc.data().uid)" mode="ios">
    
      <ion-row no-padding> 
  
        <ion-col no-padding size="6">
            <img  text-center style=" width: 100%;height: 200px;object-fit: cover;" src="{{item[0].payload.doc.data().img}}" alt="">
        
          </ion-col>
          <ion-col size="6">
              <h1  class="goodfont cut" padding> {{item[0].payload.doc.data().name }} </h1>
              <ion-item  style="margin-top: -15px;">
                <ion-icon  name="pin" size="large"></ion-icon>
                <h3 class="cut" style="margin-left: 10px">{{item[0].payload.doc.data().adress}}</h3>
                
                
            </ion-item>
        
              <ion-card-subtitle style="font-size:40px;color:var(--ion-color-tertiary)!important;text-align: center" class="goodfont">
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>

              </ion-card-subtitle>
  
          </ion-col>

      </ion-row>

    </ion-card>
  </div>
 
</ion-content>
