<ion-header >
  <ion-toolbar >
    <ion-title>Ride info</ion-title>
    <ion-buttons  slot="start">
        <ion-button [routerLink]="['/']"  >
          <ion-icon mode="ios" color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
   
   <div  margin-bottom #map class="map" id="map3" style="position: relative"></div>


    <div padding>
  

      <ion-card-header>

          <h2 class="goodfont">Info ride</h2>
      </ion-card-header>
      <div padding>
          <h3>Start</h3>
          <h5> {{ride[0].payload.doc.data().start }}</h5>
         
          <h3> Destine</h3>
          <h5> {{ride[0].payload.doc.data().destine }}</h5>
          <br><br>
          <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <div *ngIf="!item.rutine">
                      {{ ride[0].payload.doc.data().hour  | date:'short' }}    <strong class="goodfont">Hour :  </strong> {{ride[0].payload.doc.data().hour }}

                  </div>
         
                </ion-col>
                <ion-col>
                    <ion-chip *ngIf="ride[0].payload.doc.data().rutine === true" slot="end"  color="dark">
                        <ion-icon color="primary" name="refresh-circle"></ion-icon>
                        <ion-label color="primary">Rutine</ion-label>
                    </ion-chip>
                    <ion-chip *ngIf="ride[0].payload.doc.data().rutine === false " slot="end" color="dark">
                        <ion-icon color="primary" name="calendar"></ion-icon>
                        <ion-label color="primary">One time ride </ion-label>    
                    </ion-chip>
                </ion-col>
                <ion-col>
                  <ion-item>
                      <h5 slot="start">Seats {{ ride[0].payload.doc.data().seats }}</h5>
                      <ion-icon slot="end"  src="assets/seat.svg" style="font-size: 50px"></ion-icon>
                  </ion-item>
                 
                </ion-col>
              
              </ion-row>
            </ion-grid>
            <h5>{{ ride[0].payload.doc.data().information  }} </h5>  
                
            <br><br>
           <ion-button *ngIf="ride[0].payload.doc.data().uid !== uid" (click)="chatservice.checkchatexistence(uid , ride[0].payload.doc.data().uid)" slot="end" color="secondary" size="large" slot="end">
            <ion-icon mode="ios" name="chatbubbles" size="large"></ion-icon>
            Chat
          </ion-button>
     
        </div>
      <ion-row class="cartadesc">
          <ion-col size="5">
           
            <!-- *ngIf="ride[0].payload.doc.data().uid !== uid"  -->

          </ion-col>
          <ion-col size="2">   

          </ion-col>
          <ion-col size="5">
              <img width="auto" padding="10" height="100px" *ngIf="ride[0].payload.doc.data().car === 'none'" style="font-size: 45px;color: #3B455A;" src='assets/rider.svg'>
         
              <img  *ngIf="ride[0].payload.doc.data().car !== 'none'" style="font-size: 45px;color: #3B455A;" src='assets/{{ ride[0].payload.doc.data().car}}.png'>
          </ion-col>
          <br>
         

      </ion-row>
   


    <ion-card *ngIf="item?.length>0" (click)="gotoprofile(item[0].payload.doc.data().uid)" mode="ios">
    
      <ion-row no-padding> 
  
        <ion-col no-padding size="6">
            <img  text-center style=" width: 100%;height: 160px;object-fit: cover;" src="{{item[0].payload.doc.data().img}}" alt="">
        
          </ion-col>
          <ion-col size="6">
              <h1  class="goodfont cut" padding> {{item[0].payload.doc.data().name }} </h1>
           
              <!-- <ion-item  style="margin-top: -15px;font-size: 64px!important;">
                <ion-icon  name="pin" size="normal"></ion-icon>
                <h3 class="cut" style="margin-left: 10px">{{item[0].payload.doc.data().adress}}</h3>
                
                
            </ion-item> -->
        
              <ion-card-subtitle style="font-size:40px;color:var(--ion-color-tertiary)!important;text-align: center" class="goodfont">
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>

              </ion-card-subtitle>
  
          </ion-col>

      </ion-row>

    </ion-card>
  </div>
 
</ion-content>
