<ion-header class="bg-transparent" color="none">
    <ion-toolbar class="bg-transparent" color="none">
        <ion-title style=" color: #3B455A;font-size: 24px;font-weight: bold;text-align: center">
            Uicar
        </ion-title>
        <ion-buttons  slot="start">
            <ion-button [routerLink]="['/profile/']"  >
              <ion-icon mode="ios" color="primary" slot="icon-only" name="contact"></ion-icon>
           </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" >
            <ion-button (click)="presentActionSheet()">
                <ion-icon color="primary" name="more" slot="icon-only"></ion-icon>
              </ion-button>
        
          </ion-buttons>
        
    </ion-toolbar>
</ion-header>


  <div margin-bottom #map class="map" id="map" style="position: relative"></div>
 
<ion-content >

 
</ion-content>