#map {
    height: 65%;
}

ion-toolbar {
    --background-color: transparent!important;;
    --ion-color-base: transparent !important;
  }

  ion-header {
    --background-color: transparent!important;;
    --ion-color-base: transparent !important;
  }

ion-icon {
    color: var(--ion-color-primary)!important;;
}
ion-title {
  font-family: 'Lexend Exa', sans-serif;

}
ion-icon {
    font-size: 30px;
}