<ion-header no-border>
    <ion-toolbar no-border>
        <ion-title style=" color: #3B455A;font-size: 24px;font-weight: bold;text-align: center">
            {{ 'HOME.title' | translate }}
        </ion-title>
        <ion-buttons slot="start" (click)="gotoprofile()">
            <ion-icon src="/assets/icons/avatar.svg" padding></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="search" style="color:#E45454;font-size: 37px;" (click)="gotosearch()" padding>
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>




<ion-content>
    <div *ngIf="lloviendo">
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i><i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i><i class="rain"></i>
        <i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
    </div>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->

    <div margin-bottom #map class="map" id="map" style="position: relative"></div>

    <div padding margin-bottom margin-top>
        <h2 margin-top margin-bottom> {{ 'HOME.T1' | translate }} {{ zona }} </h2>
        <div text-center *ngIf="(trayectos)?.length === 0">
            <img class="notrayect" style="height: 200px!important;width: auto;" src="assets/map.svg">

            <h3>{{ 'HOME.T7' | translate }}</h3>
            <p>{{ 'HOME.T8' | translate }}</p>
        </div>

        <div text-center *ngIf="(trayectos)?.length != 0">

            <!-- <ion-segment scrollable>
                <ion-segment-button>
                    <ion-icon name="home"></ion-icon> Today
                </ion-segment-button>
                <ion-segment-button checked>
                    <ion-icon name="car"></ion-icon> This week
                </ion-segment-button>
                <ion-segment-button>
                    <ion-icon name="pin"></ion-icon> Everyday
                </ion-segment-button>

            </ion-segment> -->

            <br>
            <ion-card mode="ios" style="border-bottom:1px solid #ccc;" *ngFor="let item of trayectos.slice().reverse()" (click)="gotoinfoTrayecto(item.id)">
                <ion-card-content style="height: 110px;border-radius: 100px !important">
                    <ion-row class="carta">
                        <ion-col class="truncar" size="5">
                            {{ item.inicio }}
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon style=" font-size: 25px;color: #3B455A" src="assets/icons/right-arrow.svg">
                            </ion-icon>
                        </ion-col>
                        <ion-col class="truncar" size="5">
                            {{ item.destino }}
                        </ion-col>

                    </ion-row>

                    <ion-row class="cartadesc">
                        <ion-col size="5">
                            {{ item.hora }} {{ 'HOME.T2' | translate }}
                        </ion-col>
                        <ion-col size="2">

                        </ion-col>
                        <ion-col style="font-size: 12px;text-align: center" size="3">
                            {{ item.asientos }} <br>{{ 'HOME.T3' | translate }}
                        </ion-col>
                        <ion-col size="2">
                            <br>
                            <ion-icon style=" font-size: 45px;color: #3B455A;margin-bottom: 0%;" src='assets/icons/{{ item.vehiculo }}.svg'></ion-icon>
                        </ion-col>

                    </ion-row>
                </ion-card-content>
            </ion-card>
        </div>
        <br>
        <p *ngIf="(trayectos)?.length != 0" style="font-weight: bold;color:#3B455A;text-decoration: underline;text-align: center" (click)="gotoall()">{{ 'HOME.T4' | translate }}</p>

        <br>


        <ion-row margin-bottom margin-top>
            <ion-col size="10">

            </ion-col>
            <ion-col size="2">
                <ion-buttons *ngFor="let item of profiledata" (click)="presentModal2(item.ubication)">
                    <ion-icon slot="end" size="large" src="/assets/icons/add.svg"></ion-icon>
                </ion-buttons>
            </ion-col>
        </ion-row>


        <div text-center *ngIf="(tablondata)?.length === 0">
            <h3>{{ 'HOME.T9' | translate }}</h3>
            <p style="font-weight: bold;color:#3B455A">{{ 'HOME.T10' | translate }}</p>
        </div>

        <div *ngIf="(tablondata)?.length != 0">
            <h2 margin-top margin-bottom>{{ 'HOME.T5' | translate }} {{ zona }}</h2>
            <!-- <ion-segment scrollable>
                <ion-segment-button>
                    <ion-icon name="person"></ion-icon> Riders
                </ion-segment-button>
                <ion-segment-button checked>
                    <ion-icon name="car"></ion-icon> Drivers
                </ion-segment-button>


            </ion-segment> -->


            <br>

            <ion-card mode="ios" *ngFor="let item of tablondata.slice().reverse()" (click)="gotoPerfil(item.uid)">
                <img class="imagenthum" [src]="item.img">
                <ion-card-content style="min-height: 100px;border-radius: 100px!important">
                    <h3 class="post">{{ item.info }}</h3>

                    <ion-row>
                        <ion-col size="9">
                            <h4 style="text-align: left;color: #3B455A">{{ item.nombre }}</h4>
                        </ion-col>
                        <ion-col size="3">
                            <h4>{{ item.fecha | date:'short' }}</h4>

                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </div>

        <br>
        <p *ngIf="(trayectos)?.length != 0" style="font-weight: bold;color:#3B455A;text-decoration: underline;text-align: center" (click)="gotoalltablon()">{{ 'HOME.T6' | translate }}</p>

        <br>


    </div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="doRefresh()" color="primary">
            <ion-icon name="refresh"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>