<ion-header no-border>
    <ion-toolbar no-border>
        <ion-buttons slot="start">
            <ion-icon (click)="gotomain()" size="large" src="/assets/icons/left-arrow.svg" padding></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content padding>
    <h2 class="titulo"> {{ 'CREATE.T1' | translate }}</h2>
    <br>
    <div class="formulario">

        <ion-item>
            <ion-label position="stacked">{{ 'CREATE.T2' | translate }}</ion-label>
            <ion-input id="pac-input-create" type="text"></ion-input>

        </ion-item>
        <br>
        <ion-item>
            <ion-label position="stacked">{{ 'CREATE.T3' | translate }}</ion-label>
            <ion-input id="pac-input-create2" type="text"></ion-input>

        </ion-item>
        <br>

        <ion-row>
            <ion-col size="6">
                <ion-item id="rounded">
                    <ion-label style="color:grey;">{{ 'CREATE.T4' | translate }}</ion-label>
                    <ion-select value="brown" okText="Hecho" cancelText="Cancelar" [(ngModel)]="hora">
                        <ion-select-option *ngFor="let item of horas" style="color:grey;" [value]="item">{{ item }}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-col>
                    <ion-item>
                        <ion-label maxlength="1" style="color:grey;" position="floating">{{ 'CREATE.T6' | translate }}</ion-label>
                        <ion-input (keyup.enter)="moveFocus(b)" type="number" [(ngModel)]="asientos"></ion-input>
                    </ion-item>
                </ion-col>


            </ion-col>
            <ion-col size="6" size-md>

                <ion-item *ngFor="let entry of form">
                    <ion-label style="color:grey;">{{entry.val}}</ion-label>
                    <ion-checkbox mode="ios" slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                </ion-item>

            </ion-col>
        </ion-row>
        <ion-row>

            <ion-col size="6" size-lg>


            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3" size-sm>
                <ion-icon [class.labe]="vehiculo === 'car'" (click)="select('car')" style="font-size:50px;" src="/assets/icons/car.svg" padding></ion-icon>
            </ion-col>
            <ion-col size="3" size-sm>
                <ion-icon [class.labe]="vehiculo === 'motorcycle'" (click)="select('motorcycle')" style="font-size:50px;" src="/assets/icons/motorcycle.svg" padding></ion-icon>

            </ion-col>
            <ion-col size="3" size-sm>

            </ion-col>
            <ion-col size="3" size-sm>

            </ion-col>
        </ion-row>

        <ion-item>
            <ion-label style="color:grey;" position="floating">{{ 'CREATE.T7' | translate }}</ion-label>
            <ion-textarea #b (keyup.enter)="makepost()" [(ngModel)]="descripcion"></ion-textarea>
        </ion-item>
        <br>


        <h3 id="place-ub1"></h3>
        <div style="display: none" id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name" class="title"></span><br>
            <span id="place-address"></span>
        </div>

        <div style="display:none;">
            <div id="infowindow-content2">
                Ubicacion inicio:
                <h3 id="place-ub1"></h3>
                Codigo postal inicio:
                <h3 id="place-code"></h3>

            </div>
            <div id="infowindow-content3">
                Ubicacion destino:
                <h3 id="place-ub2"></h3>
                Codigo postal destino:
                <h3 id="place-code2"></h3>
            </div>
        </div>
        <ion-button (click)="makepost()" fill="solid" expand="block" color="primary">{{ 'CREATE.T8' | translate }}</ion-button>
    </div>
</ion-content>