<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">
        <ion-icon mode="ios" color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary" class="goodfont">Create ride</ion-title>
    <ion-buttons slot="end" *ngIf="!band">
      <ion-button (click)="select()">
        <ion-icon mode="ios" color="success" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <form *ngIf="band" class="form" [formGroup]="directionForm">
    <ion-item>
      <input class="input" formControlName="source" id="pac-input-create" #autoCompleteInput placeholder="Begin"
        type="text">
    </ion-item>
    <ion-item>
      <input class="input" formControlName="destination" id="pac-input-create2" #autoCompleteInput2
        placeholder="Destino" type="text">
    </ion-item>
    <!-- <ion-button expand="full" type="submit" [disabled]="directionForm.invalid">Get Direction</ion-button> -->
  </form>

  <div #mapElement class="map"></div>



  <div class="ion-margin-top" id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
  </div>

  <div id="infowindow-content2">
    Ubicacion inicio:
    <img src="" width="16" height="16" id="place-icon">
    <h3 id="place-ub1"></h3>
    Codigo postal inicio:
    <h3 id="place-code"></h3>
  </div>

  <div id="infowindow-content3">
    Ubicacion destino:
    <img src="" width="16" height="16" id="place-icon">
    <h3 id="place-ub2"></h3>
    Codigo postal destino:
    <h3 id="place-code2"></h3>
  </div>

</ion-content>