<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/']">
          <ion-icon mode="ios" color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title color="primary" class="goodfont">Create ride</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
  
  
    <form padding class="form" [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
      <ion-item>
        <input class="input" formControlName="source" #autoCompleteInput placeholder="Begin" type="text">
      </ion-item>
      <ion-item>
        <input class="input" formControlName="destination" #autoCompleteInput2 placeholder="Destino" type="text">
      </ion-item>
     
    </form>
  
    <div #mapElement class="map"></div>
  
    <div style="display: none" id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name" class="title"></span><br>
      <span id="place-address"></span>
    </div>
  
    <div  style="display: none "  id="infowindow-content2">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name" class="title"></span><br>
      <span id="place-address"></span>
    </div>

   
  </ion-content>

  <ion-footer padding>
    <ion-button expand="full" type="submit" >Get Direction</ion-button>
  </ion-footer>