<ion-header >
  <ion-toolbar >
    <ion-title>Ride info</ion-title>
    <ion-buttons  slot="start">
        <ion-button [routerLink]="['/']"  >
          <ion-icon mode="ios" color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div no-padding margin-bottom #map class="map" id="map3" style="position: relative"></div>


<ion-content padding>
   
    
  
    <h2 class="goodfont" style="font-size:38px;" > {{ride[0].payload.doc.data().inicio}}</h2>
    
    <ion-card mode="ios">
    
      <ion-row>
  
        <ion-col size="6">
            <img  text-center style=" width: 100%;height: 170px;object-fit: cover;" src="{{item[0].payload.doc.data().img}}" alt="">
        
          </ion-col>
          <ion-col size="6">
              <h4 class="goodfont" padding> </h4>
              <ion-card-title style="color:var(--ion-color-medium)" class="goodfont">{{item[0].payload.doc.data().name}}</ion-card-title>
              <ion-card-subtitle style="font-size:40px;color:var(--ion-color-tertiary)!important" class="goodfont">
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>
                <ion-icon size="small" color="warning" name="star"></ion-icon>

              </ion-card-subtitle>
  
          </ion-col>

      </ion-row>

    </ion-card>
 
</ion-content>
