<ion-app>
    <ion-menu auto-hide="true"    side="start" menuId="push">
        <ion-header mode="ios">
          <ion-toolbar  mode="ios">
            <ion-title color="primary" class="goodfont">Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
          <ion-item (click)="open('profile')" >
              <ion-icon name="contact" color="secondary" mode="ios" slot="start"></ion-icon>
              <p class="goodfont">Perfil</p>
          </ion-item>
          <ion-item (click)="open('chats')"  >
              <ion-icon name="chatbubbles"  color="secondary"mode="ios"slot="start"></ion-icon>
              <p class="goodfont">Chats</p>
          </ion-item> 
          <ion-item (click)="open('create')"  >
              <ion-icon name="add-circle-outline"  color="secondary"mode="ios"slot="start"></ion-icon>
              <p class="goodfont">Crear trayecto</p>
          </ion-item> 
          <!-- <ion-item (click)="open('location')"  >
                <ion-icon name="pin"  color="secondary"mode="ios"slot="start"></ion-icon>
                <p class="goodfont">Update location</p>
            </ion-item>  -->
          <ion-item (click)="open('terms')"  >
              <ion-icon name="help-circle-outline"  color="secondary" mode="ios"slot="start"></ion-icon>
              <p class="goodfont">Ayuda</p>
          </ion-item>
          <ion-item (click)="open('terms')"  >
              <ion-icon name="paper" mode="ios" color="secondary" slot="start"></ion-icon>
              <p class="goodfont">Términos y condiciones</p>
          </ion-item>
          <ion-item (click)="signOut()">
              <ion-icon name="log-out" mode="ios" color="secondary" slot="start"></ion-icon>
              <p class="goodfont">Cerrar sesión</p>
          </ion-item>
            
          </ion-list>
        </ion-content>
        <ion-footer>
            <p class="menufooter" text-center>Version 1.0.1</p>
            <p class="menufooter" text-center>Copyright Uicar.io 2020</p>
        </ion-footer>
      </ion-menu>
      <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
