<ion-app>
    <ion-menu auto-hide="true"    side="start" menuId="push">
        <ion-header mode="ios">
          <ion-toolbar  mode="ios">
            <ion-title color="primary" class="goodfont">Uicar</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
          <ion-item (click)="open('profile')" >
              <ion-icon name="contact" color="secondary" mode="ios" slot="start"></ion-icon>
              <p class="goodfont">Profile</p>
          </ion-item>
          <ion-item (click)="open('chats')"  >
              <ion-icon name="chatbubbles"  color="secondary"mode="ios"slot="start"></ion-icon>
              <p class="goodfont">Chats</p>
          </ion-item> 
          <ion-item (click)="open('terms')"  >
              <ion-icon name="help-circle-outline"  color="secondary" mode="ios"slot="start"></ion-icon>
              <p class="goodfont">Help</p>
          </ion-item>
          <ion-item (click)="open('terms')"  >
              <ion-icon name="paper" mode="ios" color="secondary" slot="start"></ion-icon>
              <p class="goodfont">Terms & conditions</p>
          </ion-item>
          <ion-item (click)="signOut()">
              <ion-icon name="log-out" mode="ios" color="secondary" slot="start"></ion-icon>
              <p class="goodfont">Logout</p>
          </ion-item>
            
          </ion-list>
        </ion-content>
        <ion-footer>
            <p class="menufooter" text-center>Version 1.0.0</p>
            <p class="menufooter" text-center>Copyright Uicar.io 2019</p>
        </ion-footer>
      </ion-menu>
      <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
