<ion-header mode="ios">
    <ion-toolbar mode="ios">
      <ion-title color="primary">Your Chats</ion-title>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/']">
          <ion-icon mode="ios" color="primary" slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content class="ion-padding">
  
    <div *ngIf="(chats)?.length === 0">
      <img class="ion-text-center" style="margin-top: 32px;margin-left:25%; margin-right: 25%;height: auto;max-height: 300px;" width="50%"
        src="assets/chat.svg">
      <h1 class="ion-text-center font">No chats 😥</h1>
    </div>
  
  
    <div *ngIf="(chats)?.length > 0">
      <div *ngFor="let item of chats">
  
        <ion-item (click)="ira(item)">
          <ion-avatar slot="start">
            <img [src]="item[0].payload.doc.data().img">
          </ion-avatar>
          <ion-label>
            <h2>{{ item[0].payload.doc.data().name }}</h2>
            <h3 class="cut">{{item[0].payload.doc.data().adress}}</h3>
          </ion-label>
        </ion-item>
      </div>
    </div>
  
    <!-- <ion-refresher  color="primary" slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher> -->
  
  </ion-content>