<ion-header>
  <ion-toolbar >
      <ion-buttons  slot="start">
          <ion-button [routerLink]="['/']"  >
            <ion-icon mode="ios" color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>
    <ion-title color="primary" class="goodfont">Your account</ion-title>

    <ion-buttons slot="end" >
      <ion-button (click)="goedit()">
        <ion-icon color="primary" slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div class="form">
        <div *ngIf="empty">
          <div text-center >
            <img text-center style=" width: 100%;height: 450px;object-fit: cover;" src="{{item[0].payload.doc.data().img}}" alt="">
          </div>
      
      
          <h2 class="goodfont" style="font-size:38px;" padding> {{item[0].payload.doc.data().name}}</h2>
      
          <ion-item color="dark">
              <ion-avatar slot="start">
                <ion-icon  name="pin" size="large"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h1>{{item[0].payload.doc.data().adress}}</h1>
                
              </ion-label>
              <ion-button size="large" slot="end">
               {{item[0].payload.doc.data().mode}}
                </ion-button>
            </ion-item>
        
        
      
        </div>
      
        <div text-center *ngIf="!empty">
      
          <ion-grid>
            <ion-row>
              <ion-col size="12" text-center>
                <img width="200px" style="margin-top:32px;" src="assets/user.svg" alt="">
              </ion-col>
              <ion-col size="12" text-center>
                <h3>Your profile is empty , fill it to continue</h3>
              </ion-col>
              <ion-col size="12" text-center>
                <ion-button (click)="goedit()">Fill it</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
      
        </div>
        </div>
        
       
        <div *ngIf="empty">
        <h2 class="goodfont" style="font-size:38px;" padding>Your info</h2>
        <ion-row>
          <ion-col size="6">
              <ion-card  color="light" >
                  <ion-card-header>
                      <ion-card-title style="color:var(--ion-color-medium)" class="goodfont">Rides</ion-card-title>
                      <ion-card-subtitle style="font-size:40px;color:var(--ion-color-primary)!important" class="goodfont">{{item[0].payload.doc.data().weight}}10</ion-card-subtitle>
                      
                    </ion-card-header>
                  
              </ion-card>
          </ion-col>
      
          <ion-col size="6">
              <ion-card  color="light" >
                  <ion-card-header>
                      <ion-card-title style="color:var(--ion-color-medium)" class="goodfont">Stars</ion-card-title>
                      <ion-card-subtitle style="font-size:40px;color:var(--ion-color-tertiary)!important" class="goodfont">
                        <ion-icon size="small" color="warning" name="star"></ion-icon>
                        <ion-icon size="small" color="warning" name="star"></ion-icon>
                        <ion-icon size="small" color="warning" name="star"></ion-icon>
                        <ion-icon size="small" color="warning" name="star"></ion-icon>
                        <ion-icon size="small" color="warning" name="star"></ion-icon>

                      </ion-card-subtitle>
                      
                    </ion-card-header>
                  
              </ion-card>
          </ion-col>
          <ion-col size="6">
              
          </ion-col>
        </ion-row>

        </div>
        <br> 
        <div text-center *ngIf="item[0].payload.doc.data().mode == 'driver'" >
            <img height="150px"  src='/assets/{{item[0].payload.doc.data().car}}.png'>
            <ion-button  mode="ios" style="width: 50%;margin-left:25%;" class="form goodfont" text-center [routerLink]="['/fill']" 
            fill="outline" size="large" expand="block" >
              Change
            </ion-button>
        </div>

        <div text-center *ngIf="item[0].payload.doc.data().mode !== 'driver'" >
           
            <ion-button  mode="ios" style="width: 50%;margin-left:25%;" class="form goodfont" text-center [routerLink]="['/fill']" 
            fill="outline" size="large" expand="block" >
              Change to driver
            </ion-button>
        </div>
        
      
        <br>
        <div *ngIf="empty">
        <h2 class="goodfont" style="font-size:38px;" padding>Rides</h2>
        <br>
          <div *ngIf="!rides" text-center>
            <img width="400px" src="assets/map.svg">
          </div>
        <br>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <p style="color: gray; font-size: 13px" text-center bold>User id : {{ id }} </p>

        <br>
        <br>


</ion-content>