<ion-header no-border>
    <ion-toolbar no-border>
        <ion-buttons (click)="gotomain()" slot="start">
            <ion-icon size="large" src="/assets/icons/left-arrow.svg" padding></ion-icon>
        </ion-buttons>
        <ion-buttons style="margin-left:20px!important;" slot="end" *ngIf="id===uid  && (profiledata)?.length != 0">
            <ion-icon (click)="create()" size="large" slot="end" src="/assets/icons/add.svg"></ion-icon>
        </ion-buttons>
        <!-- *ngIf="(profiledata)?.length != 0" -->
        <ion-buttons slot="end">
            <ion-icon *ngIf="id===uid" (click)="presentModal()" slot="end" style="font-size: 44px;color:#3B455A;" name="md-more"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div text-center *ngIf="cargado === true">
        <h3>{{ 'PROFILE.T8' | translate }}.......</h3>
    </div>

    <div *ngIf="cargado === false">

        <div *ngIf="(profiledata)?.length === 0">
            <img class="circle" src="assets/icons/user.svg">
            <div class="noprofile">
                <h3>{{ 'PROFILE.T5' | translate }}</h3>
                <ion-button (click)="gotoedit()" *ngIf="id===uid">{{ 'PROFILE.T6' | translate }}</ion-button>
            </div>
        </div>
        <div *ngFor="let item of profiledata">
            <div text-center>
                <img *ngIf="item.img" class="circle" [src]="item.img">
            </div>
            <h2 margin-botttom color="secondary">{{ item.nombre }}</h2>
            <h3 padding>{{ 'PROFILE.T1' | translate }}</h3>

            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        <ion-icon (click)="gotowhatsapp(item.whatsapp, item.prefijo)" style=" font-size: 22px;" src="assets/whatsap.svg"></ion-icon>
                    </ion-col>
                    <ion-col class="ubication" size="6">
                        <ion-icon style=" font-size: 25px;" src="assets/placeholder.svg"></ion-icon>
                        {{ item.ubication }}
                    </ion-col>
                    <ion-col size="2">
                        <ion-icon *ngIf="id===uid" style=" font-size: 29px;margin-top:-15px;" src="/assets/settings-work-tool (1).svg" padding (click)="gotoedit()">
                        </ion-icon>
                    </ion-col>

                </ion-row>
            </ion-grid>


            <h3 margin-bottom padding>{{ 'PROFILE.T2' | translate }}</h3>

            <div margin-bottom class="noprofile" *ngIf="(profiletrayectos)?.length === 0 ">
                <br><br>
                <img class="notrayect" src="assets/icons/undraw_fast_car_p4cu.svg">
                <br><br>
                <h3 style="color: #E45454;" class="notrayecto">{{ 'PROFILE.T7' | translate }}</h3>
            </div>

            <ion-card mode="ios" *ngFor="let item of profiletrayectos">
                <ion-card-content (click)="gotoinfotrayecto(item.id)" style="height: 110px;border-radius: 100px!important">
                    <ion-row class="carta">
                        <ion-col class="truncar" size="5">
                            {{ item.inicio }}
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon style=" font-size: 25px;color: #3B455A" src="assets/icons/right-arrow.svg">
                            </ion-icon>
                        </ion-col>
                        <ion-col class="truncar" size="5">
                            {{ item.destino }}
                        </ion-col>

                    </ion-row>

                    <ion-row class="cartadesc">
                        <ion-col size="5">
                            {{ item.hora }} {{ 'PROFILE.T3' | translate }}
                        </ion-col>
                        <ion-col size="2">

                        </ion-col>
                        <ion-col style="font-size: 12px;text-align: center" size="3">
                            {{ item.asientos }} <br>{{ 'PROFILE.T4' | translate }}
                        </ion-col>
                        <ion-col size="2">
                            <br>
                            <ion-icon style=" font-size: 45px;color: #3B455A;margin-bottom: 0%;" src='assets/icons/{{ item.vehiculo }}.svg'></ion-icon>
                        </ion-col>

                    </ion-row>
                </ion-card-content>





            </ion-card>



        </div>

    </div>

    <ion-fab *ngFor="let item of profiledata" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button *ngIf="id!==uid  && (profiledata)?.length != 0" (click)="gotowhatsapp(item.whatsapp , item.prefijo)" color="success">
            <ion-icon src="/assets/whatsapp.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>




</ion-content>