<ion-header>
  <ion-toolbar >
      <ion-buttons  slot="start">
          <ion-button [routerLink]="['/profile']"  >
            <ion-icon mode="ios" color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>
    
    <ion-title color="primary" class="goodfont">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <img *ngIf="img && !urlImage" src="{{img}}" style=" width: 100%;height: 450px;object-fit: cover;"> 
    <img *ngIf="urlImage"  [src]="urlImage | async" style=" width: 100%;height: 450px;object-fit: cover;"> 
    <div text-center>
    <br>
    <br>
    <img *ngIf="!urlImage && !img"  src="assets/user.svg" width="200px"> <br>

    </div>




  <div padding>

  <div margin-bottom  text-center >
      <label class="custom-file-upload" style="margin:auto;max-width:400px">
        <input id="file-upload" placeholder="Seleciona imagen" type="file" accept=".png, .jpg"
          (change)="onUpload($event)" />
        <ion-icon margin-right name="cloud-download"></ion-icon> Select profile photo
      </label>
    </div>
  

    <h3 padding class="goodfont">Profile info</h3>

  <br>
  <ion-item margin-bottom margin-bottom >
    <ion-input (keyup.enter)="moveFocus(b)" type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item margin-bottom margin-bottom  >
    <ion-input #b ((click)="save(name, phone)" type="text" placeholder="Phone" [(ngModel)]="phone"></ion-input>
  </ion-item>

  <ion-item margin-bottom margin-bottom  >
    <ion-input [(ngModel)]="mail" disabled></ion-input>
  </ion-item>

  <!-- <ion-item margin-bottom margin-bottom >
    <ion-input  id="pac-input-create"  #autoCompleteInput  #d  type="text" placeholder="Direcction" [(ngModel)]="adress">
    </ion-input>
  </ion-item> -->

  <input #imageProd type="hidden" [value]="urlImage | async" style="color:black;">
  <br><br>
  <ion-button  size="large" (click)="save(name, phone)" class="main-container" color="primary" expand="block">
    Save</ion-button>
  </div>
  <br>
  <div style="display: none" class="ion-margin-top" id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name" class="title"></span><br>
      <span id="place-address"></span>
    </div>
  
    <div style="display: none"  id="infowindow-content2">
      Ubicacion inicio:
      <img src="" width="16" height="16" id="place-icon">
      <h3 id="place-ub1"></h3>
      Codigo postal inicio:
      <h3 id="place-code"></h3>
    </div>
  
    <div style="display: none"  id="infowindow-content3">
      Ubicacion destino:
      <img src="" width="16" height="16" id="place-icon">
      <h3 id="place-ub2"></h3>
      Codigo postal destino:
      <h3 id="place-code2"></h3>
    </div>
</ion-content>