<ion-header no-border>
    <ion-toolbar no-border>
        <ion-buttons slot="start">
            <ion-icon (click)="dismiss()" size="large" src="/assets/icons/left-arrow.svg" padding></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content padding>
    <h2 class="titulo">{{ 'CREATETABLON.T1' | translate }}</h2>
    <br>
    <div class="formulario">
        <ion-item>
            <ion-label style="color:grey;" position="floating">{{ 'CREATETABLON.T2' | translate }}</ion-label>
            <ion-textarea [(ngModel)]="info"></ion-textarea>
        </ion-item>
        <br>
        <ion-button (click)="makepost()" fill="solid" expand="block" color="primary">{{ 'CREATETABLON.T3' | translate }}</ion-button>

        <ion-item *ngFor="let item of profiledata">
            <ion-input style="display: none;" value="{{item.nombre}}" [(ngModel)]="nombre"></ion-input>
        </ion-item>

    </div>
</ion-content>