<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">
        <ion-icon mode="ios" color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary" class="goodfont">Crear trayecto</ion-title>
    <ion-buttons  slot="end" *ngIf="!band">
      <ion-button padding (click)="select()">
       Editar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- <div *ngIf="num == 0"> -->
  <form *ngIf="num == 0 " padding   [formGroup]="directionForm">
      <ion-item>
          <ion-input  formControlName="source" id="pac-input-create" [(ngModel)]="start" #autoCompleteInput placeholder="Inicio de trayecto"
          type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input  formControlName="destination" id="pac-input-create2" [(ngModel)]="destine" #autoCompleteInput2
          placeholder="Destino de trayecto" type="text"></ion-input>
      </ion-item>
      
      
    <!-- <ion-button expand="full" type="submit" [disabled]="directionForm.invalid">Get Direction</ion-button> -->
  </form>

  <div *ngIf="num == 0" #mapElement class="map">
  
  


  <div style="display: none" class="ion-margin-top" id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
  </div>

  <div style="display: none"  id="infowindow-content2">
    Ubicacion inicio:
    <img src="" width="16" height="16" id="place-icon">
    <h3 id="place-ub1"></h3>
    Codigo postal inicio:
    <h3 id="place-code"></h3>
  </div>

  <div style="display: none"  id="infowindow-content3">
    Ubicacion destino:
    <img src="" width="16" height="16" id="place-icon">
    <h3 id="place-ub2"></h3>
    Codigo postal destino:
    <h3 id="place-code2"></h3>
  </div>
</div>

<div *ngIf="num === 1" padding>
    <br>
    <h1 text-center class="goodfont">Introduce información de tu trayecto</h1> 
    <br>

    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title class="goodfont">Información</ion-card-title>
          
          </ion-card-header>
          <div padding>
          <ion-textarea [(ngModel)]="information" style="border-radius: 10px;height: 80px;" type="text" text-center placeholder="Saldre entorno las 4 de la tarde..."></ion-textarea>

          </div>

        <br>
        <br>
        <br>
    </ion-card>
    <br>
    <ion-row>
        <ion-col size="6">
           

            <ion-item *ngFor="let entry of form">
                <ion-label style="color:grey;">Rutina</ion-label>
                <ion-checkbox mode="ios" slot="end"  [(ngModel)]="rutine"></ion-checkbox>
            </ion-item>

            <ion-col>
                <ion-item class="main-container" >
                    <ion-label maxlength="1" style="color:grey;" position="floating">Asientos disponibles</ion-label>
                    <ion-input max-lenght="1" type="number" [(ngModel)]="seats"></ion-input>
                </ion-item>
            </ion-col>


        </ion-col>
        <ion-col size="6" size-md>

            <ion-item id="rounded"   >

                <ion-label style="color:grey;">Hora que sale el trayecto</ion-label>
                <ion-datetime [(ngModel)]="hour"  display-format="HH:mm"></ion-datetime>
                    
            </ion-item>
            <!-- <ion-item  *ngIf="!rutine" id="rounded">
             
                <ion-label style="color:grey;">Day of ride</ion-label>
                <ion-datetime [(ngModel)]="ridedate" display-format="MMM DD" picker-format="MMM DD"   #myPicker   ></ion-datetime>
                         
            </ion-item> -->

        </ion-col>
    </ion-row>
    
      
    <br>
    <br>
    <br>
    <br>

    <ion-button [disabled]="!information || !start || !destine || !seats" (click)="create()" class="goodfont"  expand="block" size="large"  color="light"   mode="ios" text-center  >
        <ion-icon color="primary" name="checkmark-circle"></ion-icon>  Publicar trayecto
      </ion-button>  
        <br>
        <br>
        <br>
      <ion-button  color="primary" *ngIf="num > 0  " (click)="back()" mode="ios" text-center  >
          <ion-icon mode="ios" name="arrow-back"></ion-icon> 
      </ion-button>   
     </div> 
</ion-content>


<ion-footer *ngIf=" num == 0" padding class="bg-transparent" >
    <ion-button   class="form goodfont" text-center 
    size="large" (click)="num = 1 " expand="block" >
       Siguiente
  </ion-button>
</ion-footer>